# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files
node_modules/
npm-debug.log
sigas.de/scss/
sigas.de/js/*.js
sigas.de/js/js-min/maps/
sigas.de/doc/